.box1{
    background-color: red;
    color: black;
}
.box2{
    background-color: red;
    color: black;
}
body{
    background-color: black;
}
.box3{
    background-color: red;
    color: black;
}
.box4{
    background-color: red;
    color: black;
}
.box5{
    color: black;
}
.box6{
    color: black;
}
.box7{
    color: black;
}
.box8{
    color: black;
}
.box9{
    color: black;
}
.box10{
    color: black;
}
.box11{
    color: black;
}
.box12{
    color: black;
}
.box13{
    color: black;
}
.box14{
    color: black;
}
.box15{
    color: black;
}
.box16{
    color: black;
}
.box17{
    color: black;
}
.box18{
    color: black;
}
body{
    background-color: white;
}